h1 {
    text-align: center;
}

.wrapper-register {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 30px 0;
}

.wrapper-register label{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.wrapper-register input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(180, 175, 175);
}

.wrapper-register input:focus {
    outline: 1px solid rgb(180, 175, 175);
}

.button {
    background-color: black;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-color);
    color: black;
    transition: all ease-in-out 0.5s;
}

.wrapper-register div {
    text-align: center;
    margin-top: 20px;
}

.main {
    background-color: #fafafa;
}