h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;
}

.wrapper-table table {
    width: 100%;
    text-align: center;
    border: 1px solid rgb(211, 205, 205);
}

.table tr:first-of-type th:first-of-type{
    width: 5%;
}

.wrapper-table th, td {
    border: 1px solid rgb(163, 161, 161);
}

.table tr td {
    background-color: white;
    font-size: 24px;
}


.table tr:first-of-type th {
    padding: 10px;
    text-transform: uppercase;
    color: rgb(13, 13, 13);
    background-color: rgb(254, 254, 254);
}

.wrapper-table {
    padding-bottom: 40px;
}

.main .container {
    background-color: #fafafa;
    padding: 15px;
    border-radius: 10px;
}

.table tbody:nth-of-type(2) tr:hover {
    color: red;
    cursor: pointer;
}

.confirm-order {
    text-align: center;
    margin-top: 30px;
}

.confirm-order button {
    background-color: #b21216;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.confirm-order button:hover {
    background-color: white;
    color: #b21216;
    border: 1px solid #b21216;
}